<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Sentiment Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Reddit Sentiment Analyzer</h1>

    <div class="subreddit-selector">
        <label for="subreddit">Choose a Popular Subreddit:</label>
        <select id="subreddit" onchange="loadPosts(this.value)">
            <option value="">Select a subreddit</option>
            <!-- Subreddit options will be loaded here -->
        </select>
    </div>

    <div class="posts">
        <h2>Hot Posts</h2>
        <ul id="postList">
            <!-- Posts will be loaded here -->
        </ul>
    </div>

     <div class="comments">
        <h2>Comments</h2>
        <div id="commentSection">
            <!-- Comments will be loaded here -->
        </div>
        <div id="sentimentCounts"></div>
    </div>

    <div class="top-words">
        <h2>Top Phrases</h2>
        <ul id="topWords"></ul>
    </div>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Main JavaScript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
